.hContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00A1D6;
    height: 30vh;
    min-height: max-content;
    border-end-start-radius: 15px;
    border-end-end-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.hInp{
    width: 90%;
}

.hInp>input{
    height: 40px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border: none;
    width: 100%;
    padding-right: 20px;
    direction: rtl;
}

.hInp>input:focus{
    outline: none;
    direction: rtl;
}

.text{
    text-align: center;
    padding: 15px;
    color: aliceblue;
    font-weight: 600;
    font-size: 22px;
}

.icon{
    height: 100%;
    width: 10%;
    background-color: #fff;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inpContainter{
    width: 80%;
    display: flex;
    margin-top: 20px;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 20px;
}

.pass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-width: 300px;
}

.underInp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    color: #fff;
    margin-top: 5px;
    height: 20px;
    width: 80%;
}

.lBtn{
    margin: 0 20px;
    cursor: pointer;
    position: relative;
    min-width: max-content;
}

@media only screen and (max-width: 400px)  {
    .underInp{
        font-size: 11px;
    }
}