.BContainer {
    display: flex;
    height: 500px;
    justify-content: center;
}

.BBContainer {
    display: flex;
    max-width: 1080px;
}

.info {
    display: flex;
    flex-direction: column;
    direction: rtl;
    justify-content: flex-start;
    align-items: flex-start;
}

.BICONCONT {
    position: relative;
}

.rate {
    background-color: rgb(0, 168, 0);
    height: 30px;
    width: 30px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 28%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miniInfoLeft {
    display: flex;
    direction: rtl;
    flex-direction: column;
}

.miniInfo {
    display: flex;
    flex-direction: row;
    direction: rtl;
    align-items: center;
}

.miniInfoLeft > p {
    margin: 3px 0px;
}

#BIcon {
    background-color: rgb(192, 102, 102);
    margin: 10px;
    height: 90px;
    margin-right: 0px;
    width: 90px;
    border-radius: 100%;
    border-width: 4px;
    border-color: black;
}

#BName {
    font-weight: bold;
    font-size: 23px;
}

#miniAddress {
    color: RGB(117, 116, 116);
}

#description {
    padding-left: 20%;
    font-size: 14px;
    color:rgb(46, 46, 46);
}

.BIcons {
    display: flex;
    flex-direction: row;
    direction: rtl;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.photos {
    display: flex;
    align-items: flex-start;
}


@media only screen and (max-width: 600px) {
    .BBContainer {
        flex-direction:column-reverse;
        background-color: rgb(124, 139, 255);
        flex-wrap: wrap;
    }
    #description {
        padding: 0px 10px;
    }
    .info {
        justify-content: center;
    }
    .miniInfo {
        flex-direction: column;
    }
    .miniInfoLeft {
        text-align: center;
    }
  }